<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Nuevo Estudiante</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <form [formGroup]="formulario" (ngSubmit)="actualizar()">
      <ion-row>
        <!-- número de control-->
        <ion-col>
          <ion-item>
            <ion-label position="floating">Número de Control</ion-label>
            <ion-input
              formControlName="controlnumber"
              id="controlnumber"
              required
            ></ion-input>
          </ion-item>
          <div>
            <ng-container
              *ngFor="let item of validationMessages['controlnumber']"
            >
              <div
                class="errormessage"
                *ngIf="(formulario.get('controlnumber').dirty|| formulario.get('controlnumber').touched) &&
              formulario.get('controlnumber').hasError(item.type)"
              >
                {{item.message}}
              </div>
            </ng-container>
          </div>
        </ion-col>
      </ion-row>

      <!-- Nombre -->
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Nombre</ion-label>
            <ion-input formControlName="name"></ion-input>
          </ion-item>
          <div>
            <ng-container *ngFor="let item of validationMessages['name']">
              <div
                class="errormessage"
                *ngIf="(formulario.get('name').dirty || formulario.get('name').touched) &&
                      formulario.get('name').hasError(item.type)"
              >
                {{item.message}}
              </div>
            </ng-container>
          </div>
        </ion-col>
      </ion-row>

      <!-- Curp -->
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Curp</ion-label>
            <ion-input formControlName="curp"></ion-input>
          </ion-item>
          <div>
            <ng-container *ngFor="let item of validationMessages['curp']">
              <div
                class="errormessage"
                *ngIf="(formulario.get('curp').dirty || formulario.get('curp').touched) &&
                                formulario.get('curp').hasError(item.type)"
              >
                {{item.message}}
              </div>
            </ng-container>
          </div>
        </ion-col>
      </ion-row>

      <!-- Edad -->
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Edad</ion-label>
            <ion-input formControlName="age" type="number"></ion-input>
          </ion-item>
          <div>
            <ng-container *ngFor="let item of validationMessages['edad']">
              <div
                class="errormessage"
                *ngIf="(formulario.get('age').dirty || formulario.get('age').touched) &&
                                      formulario.get('age').hasError(item.type)"
              >
                {{item.message}}
              </div>
            </ng-container>
          </div>
        </ion-col>
      </ion-row>

      <!-- NIP -->
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">NIP</ion-label>
            <ion-input formControlName="nip" type="number"></ion-input>
          </ion-item>
          <div>
            <ng-container *ngFor="let item of validationMessages['nip']">
              <div
                class="errormessage"
                *ngIf="(formulario.get('nip').dirty || formulario.get('nip').touched) &&
                                                  formulario.get('nip').hasError(item.type)"
              >
                {{item.message}}
              </div>
            </ng-container>
          </div>
        </ion-col>
      </ion-row>

      <!-- Email -->
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Email</ion-label>
            <ion-input formControlName="email"></ion-input>
          </ion-item>
          <div>
            <ng-container *ngFor="let item of validationMessages['email']">
              <div
                class="errormessage"
                *ngIf="(formulario.get('email').dirty || formulario.get('email').touched) &&
                                                  formulario.get('email').hasError(item.type)"
              >
                {{item.message}}
              </div>
            </ng-container>
          </div>
        </ion-col>
      </ion-row>

      <!-- Carrera -->
      <ion-row>
        <ion-col>
          <ion-list>
            <ion-item>
              <ion-select
                placeholder="Carrera"
                formControlName="career"
                [(ngModel)]="this.student.career"
              >
                <ion-select-option value="ISC">ISC</ion-select-option>
                <ion-select-option value="IBQ">IBQ</ion-select-option>
                <ion-select-option value="IC">IC</ion-select-option>
                <ion-select-option value="ARQ">ARQ</ion-select-option>
                <ion-select-option value="IE">IE</ion-select-option>
              </ion-select>
            </ion-item>
            <div>
              <ng-container *ngFor="let item of validationMessages['career']">
                <div
                  class="errormessage"
                  *ngIf="(formulario.get('career').dirty || formulario.get('career').touched) &&
                                                    formulario.get('career').hasError(item.type)"
                >
                  {{item.message}}
                </div>
              </ng-container>
            </div>
          </ion-list>
        </ion-col>
      </ion-row>

      <!-- Photo -->
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Foto</ion-label>
            <ion-input formControlName="photo"></ion-input>
          </ion-item>
          <div>
            <ng-container *ngFor="let item of validationMessages['photo']">
              <div
                class="errormessage"
                *ngIf="(formulario.get('photo').dirty || formulario.get('photo').touched) &&
                                                  formulario.get('photo').hasError(item.type)"
              >
                {{item.message}}
              </div>
            </ng-container>
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <div>
          <ion-button type="submit" [disabled]="!formulario.valid">
            Actualizar
          </ion-button>
        </div>
      </ion-row>
    </form>
  </ion-grid>
</ion-content>
